<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="auto">
    <mat-grid-tile colspan=2 rowspan=1>
      <div style="height: 15px;">
        <div style="float: left;height: 15px;">bbbb</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
      <mat-grid-tile-header>3D View</mat-grid-tile-header>
      <app-slam-map-viewer style="width:100%"></app-slam-map-viewer>

    </mat-grid-tile>
    <mat-grid-tile colspan=1 aria-rowspan="1">
sfdfsfsdfs
    </mat-grid-tile>
  </mat-grid-list>
</div>